[submodule "FishGfx"]
	path = FishGfx
	url = https://github.com/sbarisic/FishGfx
[submodule "FML"]
	path = FML
	url = https://github.com/sbarisic/FML
[submodule "LuaDotNet"]
	path = LuaDotNet
	url = https://github.com/sbarisic/Lua.NET
